img {
    max-width: 80%;
}

.zoom {
    overflow: hidden;
}


.produtos1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #343a40, 0 0 0.2em #343a40;
    font-weight: normal;
}

.whatsapp {
    position: fixed;
    top: 72%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

.wt {
    background-color: #22b710;
}

.discricao {
    font-family: inherit;
    font-size: large;
}

.orcamento {
    min-height: 15vh;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

.cp {
    font-size: large;
    font-family: sans-serif;
}

.cp2 {
    font-family: sans-serif;
}

.chapas {
    background-color: antiquewhite;
}

.zoom img {
    max-width: 100;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.index {
    background-position: center center;
    background-size: cover;
    /* min-height: 90vh; */
    max-height: 999px;
    overflow: hidden;
    position: relative;
    /* width: 100%; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home1 {
    font-size: 6em;
    font-weight: 700;
    margin: 0;
    color: #343a40;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #fff 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #fff 35%, #4e6773 100%);
    background: -ms-linear-gradient(top, #fff 35%, #4e6773 100%);
    background: linear-gradient(to bottom, #fff 35%, #4e6773 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fundo {
    background-image: url(../img/desfocada.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    background-color: #d3cbc0;
}

.container2 {
    /* background-color: #d4d8d9; */
    background: url("../img/tile.jpg");
    background-repeat: repeat;
}

.bg-creme {
    background-color: #d3cbc0;
}

.footer1 {
    background-color: #2e3b4b
}

.footer2 {
    color: white;
    font-weight: 300;
}

.footer3 {
    color: white;
    font-weight: 500;
}

.h2 {
    font-weight: 400;
    /* font-size: 2rem; */
    color: darkslategray;
}

.h2-2 {
    color: darkslategray;
    font-weight: 400;
}

.h3 {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    /* text-shadow: 0.1em 0.1em 0.2em black */
}

.discricao-produto{
    
    font-size: large;
    font-weight: normal;
}

.produtos {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.especificacao {
    color: white;
    text-shadow: 1px 1px 10px #000000;
}

.icone-size {
    font-size: 2rem;
}


/* .coralernativa{
    background: #d3cbc0;
  }

  .coralernativa:nth-child(2n){
    background: #990000;
  } */